{% extends "base.twig" %}
{% set slug = _GET['1'] %}
{% set Post = fetch("Post", {id:slug})[0] %}
{% block description %}{{Post.Description}}{% endblock %}
{% block content %}

	<div class="page-heading wow fadeIn" data-wow-duration="0.5s">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="heading-content-bg wow fadeIn" data-wow-delay="0.75s" data-wow-duration="1s">
						<div class="row">
							<div class="heading-content col-md-12">
								<p><a href="index.html">Homepage</a> / <em> Cars</em> / <em> Listing</em></p>
								<h2>Prodaja <em>Vozila</em></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="on-grids wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
		<div class="container">
			<div class="recent-car-content">
				<div class="row">
					<div class="col-md-12">
						<div class="row">

            {% set Cars = fetch("Cars") %}
            {% for Car in Cars %}


							<div class="col-md-4">
								<div class="car-item">
									<div class="thumb-content">
										<div class="car-banner">
											<a href="vozilo/{{Car.id}}">Prodaja</a>
										</div>
										<div class="thumb-inner">
											<a href="vozilo/{{Car.id}}"><img src="img/{{Car.Galerija_[0].slug}}" alt="{{Car.Model}}"></a>
										</div>
									</div>
									<div class="down-content">
										<a href="vozilo/{{Car.id}}"><h4>{{Car.Marka}} {{Car.Model}}</h4></a>
										<span>{{ Car.Cena|number_format(0) }} eur</span>
										<div class="line-dec"></div>
										<p>Drinking vinegar hoodie street art, selvage you probably haven't heard of them put a bird on it semiotics heirloom four loko roof party mumblecore cliche butcher meditation.</p>
										<ul class="car-info">
											<li><div class="item"><i class="flaticon flaticon-calendar"></i><p>{{ Car.Godiste }}</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-speed"></i><p>{{ Car.Karoserija_label }}</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-road"></i><p>{{ Car.Kilometraza }} km</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-fuel"></i><p>{{ Car.Gorivo }}</p></div></li>
										</ul>
									</div>
								</div>
							</div>

              {% endfor %}
							<div class="col-md-4">
								<div class="car-item">
									<div class="thumb-content">
										<div class="car-banner">
											<a href="single_car.html">For Sale</a>
										</div>
										<div class="thumb-inner">
											<a href="single_car.html"><img src="assets/images/car_item_2.jpg" alt=""></a>
										</div>
									</div>
									<div class="down-content">
										<a href="single_car.html"><h4>Perfect Sport Car</h4></a>
										<span>$49.000</span>
										<div class="line-dec"></div>
										<p>Drinking vinegar hoodie street art, selvage you probably haven't heard of them put a bird on it semiotics heirloom four loko roof party mumblecore cliche butcher meditation.</p>
										<ul class="car-info">
											<li><div class="item"><i class="flaticon flaticon-calendar"></i><p>2013</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-speed"></i><p>160p/h</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-road"></i><p>26.00km</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-fuel"></i><p>Petrol</p></div></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="car-item">
									<div class="thumb-content">
										<div class="car-banner">
											<a href="single_car.html">For Rent</a>
										</div>
										<div class="thumb-inner">
											<a href="single_car.html"><img src="assets/images/car_item_3.jpg" alt=""></a>
										</div>
									</div>
									<div class="down-content">
										<a href="single_car.html"><h4>Perfect Sport Car</h4></a>
										<span>$42.000</span>
										<div class="line-dec"></div>
										<p>Drinking vinegar hoodie street art, selvage you probably haven't heard of them put a bird on it semiotics heirloom four loko roof party mumblecore cliche butcher meditation.</p>
										<ul class="car-info">
											<li><div class="item"><i class="flaticon flaticon-calendar"></i><p>2013</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-speed"></i><p>160p/h</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-road"></i><p>26.00km</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-fuel"></i><p>Petrol</p></div></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="car-item">
									<div class="thumb-content">
										<div class="car-banner">
											<a href="single_car.html">For Rent</a>
										</div>
										<div class="thumb-inner">
											<a href="single_car.html"><img src="assets/images/car_item_4.jpg" alt=""></a>
										</div>
									</div>
									<div class="down-content">
										<a href="single_car.html"><h4>Perfect Sport Car</h4></a>
										<span>$54.000</span>
										<div class="line-dec"></div>
										<p>Drinking vinegar hoodie street art, selvage you probably haven't heard of them put a bird on it semiotics heirloom four loko roof party mumblecore cliche butcher meditation.</p>
										<ul class="car-info">
											<li><div class="item"><i class="flaticon flaticon-calendar"></i><p>2013</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-speed"></i><p>160p/h</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-road"></i><p>26.00km</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-fuel"></i><p>Petrol</p></div></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="car-item">
									<div class="thumb-content">
										<div class="car-banner">
											<a href="single_car.html">For Sale</a>
										</div>
										<div class="thumb-inner">
											<a href="single_car.html"><img src="assets/images/car_item_5.jpg" alt=""></a>
										</div>
									</div>
									<div class="down-content">
										<a href="single_car.html"><h4>Perfect Sport Car</h4></a>
										<span>$23.000</span>
										<div class="line-dec"></div>
										<p>Drinking vinegar hoodie street art, selvage you probably haven't heard of them put a bird on it semiotics heirloom four loko roof party mumblecore cliche butcher meditation.</p>
										<ul class="car-info">
											<li><div class="item"><i class="flaticon flaticon-calendar"></i><p>2013</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-speed"></i><p>160p/h</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-road"></i><p>26.00km</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-fuel"></i><p>Petrol</p></div></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="car-item">
									<div class="thumb-content">
										<div class="car-banner">
											<a href="single_car.html">For Rent</a>
										</div>
										<div class="thumb-inner">
											<a href="single_car.html"><img src="assets/images/car_item_6.jpg" alt=""></a>
										</div>
									</div>
									<div class="down-content">
										<a href="single_car.html"><h4>Perfect Sport Car</h4></a>
										<span>$68.000</span>
										<div class="line-dec"></div>
										<p>Drinking vinegar hoodie street art, selvage you probably haven't heard of them put a bird on it semiotics heirloom four loko roof party mumblecore cliche butcher meditation.</p>
										<ul class="car-info">
											<li><div class="item"><i class="flaticon flaticon-calendar"></i><p>2013</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-speed"></i><p>160p/h</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-road"></i><p>26.00km</p></div></li>
											<li><div class="item"><i class="flaticon flaticon-fuel"></i><p>Petrol</p></div></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="page-numbers">
									<div class="pagination-content">
										<ul>
											<li class="active"><a href="car_grid_no_sidebar.html#">1</a></li>
											<li><a href="car_grid_no_sidebar.html#">2</a></li>
											<li><a href="car_grid_no_sidebar.html#">3</a></li>
											<li><a href="car_grid_no_sidebar.html#">4</a></li>
											<li><a href="car_grid_no_sidebar.html#"><i class="fa fa-angle-double-right"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}